{{ multicloud_cpe_public_ip }} {{ multicloud_oci_tunnel1_headend }} : PSK "{{ multicloud_shared_secret_psk1 }}"
{{ multicloud_cpe_public_ip }} {{ multicloud_oci_tunnel2_headend }} : PSK "{{ multicloud_shared_secret_psk2 }}"